<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/globalCss.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/globalCss.css"/>
    <script src="../js/newEntry.js" defer> </script>


</head>
<body>
<div th:insert="navbar :: navbar"></div>

<h1 class="dark-blue centered title-text">
    Password Wallet
</h1>
<h2 class="dark-blue centered">
    Edit password
</h2>
<div th:if="${errorMessage}">
    <h4 th:text="${errorMessage}" class="label-medium-blue"></h4>
</div>
<article >

    
    <form id="form" action="/editStoredPassword"  method="POST" modelAttribute="password">
        <input id="id" type="hidden" name="idpasswords" th:value="${idPassw}" required>

        <label for="passwTitle" class="label-medium-blue">Title<span class="span-red">*</span>:</label>
        <input type="text" id="passwTitle" name="passwTitle" th:value="${passwObj.passwTitle}" class="font-fix typein-input" required maxlength="45">

        <label for="passwWebAdd" class="label-medium-blue">Site:</label>
        <input type="text" id="passwWebAdd" name="passwWebAdd" th:value="${passwObj.passwWebAdd}" class="font-fix typein-input" maxlength="256">

        <label for="passwEncrypted" class="label-medium-blue">Password<span class="span-red">*</span>:</label>
        <input type="password" id="passwEncrypted" name="passwEncrypted" th:value="${passwObj.passwEncrypted}" class="font-fix typein-input" required>

<!--
        <label for="category" class="label-medium-blue">Password category<span class="span-red">*</span>:</label>
-->        <input type="hidden" list="categories" id="category" name="categoryName" th:value="${passwObj.categoryName}" class="font-fix typein-input" required>

                <datalist id="categories">
                    <option th:each="item: ${categories}" th:value="${item.title}">
                </datalist>


        <label for="passwDescription" class="label-medium-blue">Description:</label>
        <div>
            <textarea name="passwDescription" id="passwDescription" th:value="${passwObj.passwDescription}" class="font-fix typein-input typein-textarea" maxlength="256"> </textarea>
        </div>
        <div class="centered">
            <input type="submit" value="submit" class="form-button font-fix">
        </div>
    </form>

</article>

</body>
</html>