<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Passwords</title>
    <link rel="stylesheet" href=".css/globalCss.css">
</head>
<body>
  <nav>
    <div>
      <a href="" class="orange-medium">Passwords</a>
    </div>
    <div>
      <a href="" class="orange-medium">New Entry</a>
    </div>
    <div>
      <a href="" class="orange-medium">Settings</a>
    </div>
    <div>
      <a href="" class="orange-medium">Logout</a>
    </div>
  </nav>
</body>
</html>