<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Passwords</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/globalCss.css}"/>
    <script src="../js/buttons.js" defer> </script>
</head>
<body>
    <div th:insert="navbar :: navbar"></div>
    <div th:if="${errorMessage}">
        <h4 th:text="${errorMessage}" class="label-medium-blue"></h4>
    </div>


</body>
</html>